@charset "UTF-8";

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.42em;
	color: #A7A1AE;
	background-color: #1F2739;
	background-image: url("bg.jpg");
	background-size: cover;
}

h1 {
	font-size: 3em;
	font-weight: 500;
	line-height: 1em;
	text-align: center;
	color: #4DC3FA;
}

h2 {
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	display: block;
	line-height: 1em;
	padding-bottom: 2em;
	color: #FB667A;
}

a {
	font-weight: 700;
	text-transform: uppercase;
	color: #ff0080;
	text-decoration: none;
}

a.strange {
	font-size: 1em;
	text-align: center;
	color: #b90000;
}

.container {
	text-align: center;
	overflow: hidden;
	border: 0px;
	width: 60%;
	margin: 0 auto;
	margin-top: 65px;
	display: table;
	padding: 0 0 8em 0;
}

.container td, .container th {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 2%;
}

.container th h1 {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	color: #202020;
}

.container td {
	font-weight: normal;
	font-size: 1em;
	color: #c0c0c0;
	-webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
}

.container tr:nth-child(odd) {
	background-color: #440044;
}

.container tr:nth-child(even) {
	background-color: #570057;
}

.container th {
	background-color: #000000;
}

.container td:first-child {
	color: #aeae00;
}

.container tr:hover {
	background-color: #ff00ff;
	-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
	background-color: #ff2492;
	color: #800040;
	font-weight: bold;
	box-shadow: #800040 -1px 1px, #800040 -2px 2px, #800040 -3px 3px,
		#800040 -4px 4px, #800040 -5px 5px, #800040 -6px 6px;
	transform: translate3d(6px, -6px, 0);
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
}

@media ( max-width : 800px) {
	.container td:nth-child(4), .container th:nth-child(4) {
		display: none;
	}
}