body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.42em;
	color: #A7A1AE;
	background-color: #1F2739;
	background-image: url('/resources/images/cd.jpg');
	background-size: cover;
}